html {
  font-family: Arial;
  font-size:0.9em;
  min-width:320px;
}
h1 {
  font-size:2.0em;
  line-height:2.0em;
  margin:0px;
}
h2 {
  font-size:1.3em;
  line-height:1.3em;
  margin:0px;
  padding:0px 0px 10px;
}
h3 {
  font-size:1.2em;
  line-height:1.2em;
  margin:0px;
  padding:0px 0px 10px;
}

img {
  max-width:100%;
  height:auto;
}

p {
  margin:0px 0px 10px 0px;
}

table {
  width:100%;
  max-width:100%;
}

form {
  clear:both;
}
