//********************************
//THIS IS SO AWESOME!!!!!!!!!!!!!!
//********************************
.non-admin-css .field-name-field-video {
    position:relative;
    height:50%;
    width:100%;
    padding-bottom:56%;
    margin-bottom: 10px;
}

.non-admin-css .field-name-field-video {
    img, iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;	
    }
}

.bean-left {
    position:relative;
    height:50%;
    width:100%;
    @media(min-width:800px) {
        padding-bottom:28%;
    }
    padding-bottom:56%;
    margin-bottom: 10px;
}

.bean-left {
    img, iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;	
    }
}

.non-admin-css .field-collection-container {
    @media(min-width:700px) {
        .field-name-field-video {
            position:relative;
            height:50%;
            width:40%;
            padding:0% 1% 24%;
            margin-bottom: 10px;
            float:right;
        }
        .field-name-field-video {
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;	
            }
        }
    }
}
//********************************
//THIS IS SO AWESOME!!!!!!!!!!!!!!
//********************************





#bottom {
    .bean-bottom-menu {
        .field-label {
            display:none;   
        }
        .field-name-field-header {
            border-bottom: solid 2px;
            margin-bottom: 10px;
        }
        .field-items {
            padding:0px;
            .field-collection-view {
                padding:0px;
            }
        }
        
        @media(min-width:700px) {
            .even {
                width:29%;
                float:left;
                .even, .odd {
                    float:none;
                    width:100%;
                }

            }
            .odd {
                width:69%;
                float:right;
                .even, .odd {
                    float:none;
                    width:100%;
                }
                .field-collection-container .field-item {
                    float:left;
                    width:50%;
                    .field-item {
                        width:100%;
                        float:none;
                    }
                }
            }
        }
    }
}